{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="{% static 'css/core_styling.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/grid_config.css' %}">

    {% block head %}
    {% endblock head %}
    
    <title>{% block title %} Default Title {% endblock title %}</title>

</head>

<body>

    {% block navbar %}
    <div class="header-card">
            <a href="{% url 'main_index' %}">Velkozz REST APIs</a>
            <a href="{% url 'user_dashboard' %}">API Dashboard</a>
            
            {# Conditional Displaying a User Dashboard or Create User Dashboard if a user is logged in #}
            {% if request.user.is_authenticated == True %}
                <a href="{% url 'user_account_dashboard' %}" id="">Account API Dashboard</a>
            {% else %}
                <a href="{% url 'create_account_page' %}" id="">Create Account</a>
            {% endif %}

            {# Conditional Displaying a Debug Dashboard link if the user is a staff member #}
            {% if request.user.is_staff == True %}
                <a href="{% url 'staff_dashboard' %}">Staff Dashboard</a>
            {% endif %}

            {# Conditional Displaying A Login or Logout promt based on if a user is logged in: #}
            {% if request.user.is_authenticated == True %}
                <a href="{% url 'logout' %}?next={% url 'main_index' %}" id="header-login">Logout</a>
            {% else %}
                <a href="{% url 'login_page' %}" id="header-login">Login</a>
            {% endif %}
            

    </div> 
    {% endblock navbar %}
        
    <div class="main-body-content">
    {% block body %}
    {% endblock body %}
    </div>

    {% block javascript %}
    {% endblock javascript %}

</body>
</html>