{% extends "core_layout.html" %}
{% load static %}

{% block title %}Velkozz API Index {% endblock title %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'accounts/css/index_layout.css' %}">
{% endblock head %}

{% block body %}

    <div class="grid-item-1 main-card">
        <h1>Velkozz Data APIs</h1>
        <p>REST APIs that provide various structured data.</p>
    </div>
    
    <section class="internal-grid">
    <div class="sub-card card">
        <h2>Browse Velkozz APIs</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit exercitationem ipsa possimus dolorem sunt, sed nesciunt, dolor voluptate, corporis alias veniam sit quod harum explicabo.</p>

        <section class="two-button-grid">
            <a class="btn" href="{% url 'user_dashboard' %}">API Dashboard</a>
            <a class="btn">User Account</a>
        </section>            
    </div>
    
    <div class="sub-card card">
        <h2>For Developers & Active Users</h2>    
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit exercitationem ipsa possimus dolorem sunt, sed nesciunt, dolor voluptate, corporis alias veniam sit quod harum explicabo.</p>

        <section class="two-button-grid">
            <a class="btn">External Developer APIs</a>
            <a class="btn" href="https://github.com/MatthewTe/velkozz_web_api">Velkozz Django Source<img src="{% static 'images/icons/github_icon.png' %}"></a>
        </section>
        
    
    </section>
    </div>
</section> 

{% endblock body %}