{% extends "core_layout.html" %}
{% load static %}

{% block title %}Velkozz API Index {% endblock title %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'accounts/css/index_layout.css' %}">
{% endblock head %}

{% block body %}

    <div class="grid-item-1 main-card">
        <h1>The Velkoz Data Ingestion Project</h1>
        <h4 style="text-align: center;">A REST API service providing coellated web-extracted data.</h4>

        <p class="main-desc-paragraph">
        The Velkozz data project is designed to extract, transform and aggregate data from across the web. The project is an open source project built using the Django-Rest-Framework (DRF). The Velkozz Data Project is made up of multiple servers and applications that: extract data via web scrapers, aggregate/transform and load data into backend databases.
        The DRF application serves as the front-end user interface into the Velkozz Data Project. The Documentation and structure of the project can be found here.
        </p>

    </div>
    
    <section class="internal-grid">
    <div class="sub-card card">
        <h2>Browse Available APIs</h2>
        <p>If you are new to the project, explore the available APIs and their documentation and/or create a user account.</p>

        <section class="two-button-grid">
            <a class="btn" href="{% url 'user_dashboard' %}">Velkozz APIs</a>
            {% if request.user.is_authenticated == True %}
                <a class="btn" href="{% url 'user_account_dashboard' %}">User Dashboard</a>
            {% else %}
                <a class="btn" href="{% url 'login_page' %}">Create Account</a>
            {% endif %}
        </section>            
    </div>
    
    <div class="sub-card card">
        <h2>Developer Resources</h2>    
        <p>Are you a developer that uses our REST API or want to contribute to the project? Install one of our Software Development Kits or visit the project’s repository.</p>

        <section class="two-button-grid">
            <a class="btn">External Developer APIs</a>
            <a class="btn" href="https://github.com/velkoz-data-ingestion">Velkozz Data Project<img src="{% static 'images/icons/github-dark.svg' %}"></a>
        </section>
        
    
    </section>
    </div>
</section> 

{% endblock body %}