{% extends "core_layout.html" %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'accounts/css/staff_dashboard_styling.css' %}">
<script src="https://cdn.plot.ly/plotly-1.2.0.min.js"></script>
{% endblock head %}

{% block title %}Staff Dashboard{% endblock title %}

{% block body %}
<div class=dash_grid>
    <div class="chart" id="summary_request_timeseries"></div>
    <div class="full_res_methods" id="response_methods"></div>

    <div class="single_app_request" id="account_request"></div>
    <div class="single_app_request" id="social_media_api_request"></div>
    <div class="single_app_request" id="finance_api_request"></div>
</div>


{% endblock body %}

{% block javascript %}

{{get_datetime|json_script:'datetime'}}
{{get_requests_count|json_script:'get_requests_count'}}
{{post_requests_count|json_script:'post_requests_count'}}

{{app_timeseries|json_script:'app_timeseries'}}
{{response_codes|json_script:'response_codes'}}

<script src="{% static 'accounts/js/staff_dashboard.js' %}"></script>
{% endblock javascript %}