/* Configuring the dashboard grid */
.dash_grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}

/* Ensuring the styling for dashboard graphs: */
#summary_request_timeseries {
    padding: 10px;
    grid-column: auto;
}